.screen {
    cursor: pointer;
    color: gray;
    margin: 25px;
    z-index: 3;

    .fa-arrows-alt {
        top: 0;
        right: 0;
        position: absolute;
    }

    .fa-compress {
        display: none;
        bottom: 0;
        right: 0;
        position: absolute;
    }
}