body {
    margin: 0;
}

.screen {
    cursor: pointer;
    color: gray;
    z-index: 3;

    .fa-arrows-alt {
        top: 20px;
        right: 20px;
        position: absolute;
    }

    .fa-compress {
        display: none;
        top: 20px;
        right: 20px;
        position: absolute;
    }
}

#container{
    width: 100%; 
    height: 400px; 
    margin: 0 auto; 
    position: absolute;
}

#container.rotated  {
    margin-top: -100vw;
    transform-origin: bottom left;
    width: 100vh;
    height: 100vw;
    transform: rotate(90deg);
}